// @import url(https://fonts.googleapis.com/css?family=Open+Sans:100,400,300,700);
@import "palette";
@import "vendor/sweetalert";


body{
	background-color: #eee;
	font-family: 'Montserrat', sans-serif;
}

.text{
	font-size: 20px;
	color: $secondary-text-color;
}

.header{
	background-color: $primary-color-dark;
	color: $primary-color-text;
	vertical-align: middle;
	margin-bottom: 30px;
	border-radius: 0px;
	.navbar-brand {
		font-size: 18px;
		color: $primary-color-light;
	}
	.navbar-left {
		float: left;
	}
	.navbar-right {
		width: 100px;
		float: right;
	}
	.navbar-nav {
		margin: 0px -15px;
	}
}
.card{
	text-align: center;
	.symbol{
		background-color: $primary-color;
		border-radius: 5px;
		margin-bottom: 10px;
		font-size: 80px;
		color: $primary-color-light;
		text-align: center;

		&.section-1{
			background-color: $section-1;
		}
		&.section-2{
			background-color: $section-2;
			color: $primary-color;
		}
		&.section-3{
			background-color: $section-3;
			color: $primary-color-text;
		}
		&.section-4{
			background-color: $section-4;
			color: $primary-color-text;
		}

	}


}