// @import url(https://fonts.googleapis.com/css?family=Open+Sans:100,400,300,700);
@import "palette";
@import "vendor/sweetalert";


body{
	background-color: #eee;
	font-family: 'Montserrat', sans-serif;
}
.header{
	background-color: $primary-color-dark;
	color: $primary-color-text;
	vertical-align: middle;
	margin-bottom: 30px;
	h1{
		font-size: 18px;
	}
}
.card{
	text-align: center;
	.symbol{
		background-color: $primary-color;
		border-radius: 5px;
		margin-bottom: 10px;
		font-size: 200px;
		color: $primary-color-light;
		text-align: center;

	}


}