
<h1>Lecciones</h1>
<button class="btn btn-default" ng-click="home.alphabet()">Alfabeto</button>
<br><br>
<button class="btn btn-default" ng-click="home.vocabulary()">Vocabulario</button>
<br><br>
<button class="btn btn-default" ng-click="home.lecturaa()">Lectura A</button>
<br><br>
<button class="btn btn-default" ng-click="home.lecturab()">Lectura B</button>
<br><br>
<button class="btn btn-default" ng-click="home.pronombres()">Pronombres</button>


<!-- <p>{{ home.message }}</p> -->

<!-- <p ng-if="home.mostrar">Lecciones</p> -->