<div class="container-fluid">
	<div class="row card">
  		<div class="col-md-4 col-md-offset-4">
  			<div class="symbol section-4">
				<p>{{lecturab.symbol}}</p>
			</div>
  		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<button class="btn btn-default btn-block" ng-click="lecturab.showRandomSymbol()">Siguiente</button>
		</div>
	</div>
	<div class="row">
		<div class="text col-md-4 col-md-offset-4">
			<h5>Lectura B</h5>
			<br>
			사랑해 사랑했지만<br>
			내가 부족했었나 봐<br>
			혹시 우연이라도<br>
			한순간만이라도 널<br>
			볼 수 있을까<br>
		</div>
	</div>
	<!-- <p>score: <span>{{ vocabulary.score }}</span></p> -->
</div>
