<div class="container-fluid">
	<div class="row card">
		<div class="col-md-6 col-md-offset-3">
		<table class="table table-striped">

		<div class="panel panel-default">
		  <div class="panel-heading">
			<h3 class="panel-title">Estructura básica de oraciones</h3>
		  </div>
		  <div class="panel-body">
			Pronombre + partícula + descripción + verbo
		  </div>
		</div>

			  <thead>
				<tr>
				  <th>#</th>
				  <th>Pronombre</th>
				  <th>Coreano</th>
				  <th>Plural</th>
				  <th>Partícula</th>
				  <th>Plural + Partícula</th>
				</tr>
			  </thead>
			  <tbody>
				<tr>
				  <th scope="row">1</th>
				  <td>Yo</td>
				  <td>저</td>
				  <td>저들 (?)</td>
				  <td>저는</td>
				  <td>저들는 (?)</td>
				</tr>
				<tr>
				  <th scope="row">2</th>
				  <td>Tú</td>
				  <td>나</td>
				  <td>나들(?)</td>
				  <td>나는</td>
				  <td>나들은(?)</td>
				</tr>
				<tr>
				  <th scope="row">3</th>
				  <td>Él</td>
				  <td>그</td>
				  <td>그들</td>
				  <td>그은</td>
				  <td>그들</td>
				</tr>
				<tr>
				  <th scope="row">4</th>
				  <td>Nosotros</td>
				  <td>우리</td>
				  <td>우리들</td>
				  <td>우리는</td>
				  <td>우리들은</td>
				</tr>
				<tr>
				  <th scope="row">5</th>
				  <td>Usted</td>
				  <td>당신</td>
				  <td>당신들</td>
				  <td>당신은</td>
				  <td>당신들은</td>
				</tr>
				<tr>
				  <th scope="row">6</th>
				  <td>Ella</td>
				  <td>그녀</td>
				  <td>그녀들</td>
				  <td>그녀는</td>
				  <td>그녀들는</td>
				</tr>
			  </tbody>
			</table>
			<br>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Partículas</h3>
				</div>
				<div class="panel-body">
					Las partículas se utilizan para marcar al sujeto de la oración. Se agregan después
					de la palabra a la cuál se refiere la oración.

					<table class="table">
					  <thead>
						<tr>
						  <th>#</th>
						  <th>Cuando termina en vocal</th>
						  <th>Cuando termina en consonante</th>
						</tr>
					  </thead>
					  <tbody>
						<tr>
						  <th scope="row">1</th>
						  <td>는</td>
						  <td>은</td>
						</tr>
					  </tbody>
					</table>
				</div>
			</div>





			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Verbo 'Ser'</h3>
				</div>
				<div class="panel-body">
				En coreano sólo se utiliza una forma para todos los pronombres

					<table class="table">
					  <thead>
						<tr>
						  <th>#</th>
						  <th>Modo Afirmativo</th>
						  <th>Modo de pregunta</th>
						</tr>
					  </thead>
					  <tbody>
						<tr>
						  <th scope="row">1</th>
						  <td>입니다</td>
						  <td>입니까?</td>
						</tr>
					  </tbody>
					</table>

					<div class="well">
						저는 의사 입니다<br>
						Yo soy doctor
					</div>



				</div>
			</div>

		</div>
	</div>
</div>
